.Input {
  border: 0.05rem solid #d8d8da;
  border-radius: 0.2rem;
  color: #676767;
  padding: 0.4rem;
  font-family: inherit;
  width: 100%;
}

textarea.Input {
  resize: none;
}

.Input[type="number"] {
  max-width: 7rem;
}

.Input[type="date"],
.Input[type="time"] {
  max-width: 12rem;
}

.Invalid {
  border-color: #fa9696;
}

.Input::placeholder {
  color: #c9c9c9;
  font-size: 0.9rem;
}

option:disabled {
  color: #c9c9c9;
}

.Input__Group {
  display: flex;
  justify-items: start;
}

.Input__Group .Input {
  width: auto;
}

.LabelVisible {
  font-size: 0.9rem;
  font-weight: 500;
  color: #676767;
  display: flex;
  padding: 0 0.4rem;
}

.Label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.Wrapper {
  display: flex;
  align-items: center;
}
