.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AdditionalInfo {
  display: flex;
  justify-content: space-between;
  color: #c9c9c9;
  font-size: 0.7rem;
  font-style: italic;
}

.AdditionalInfo p {
  margin: 0.1rem;
}

.inline {
  display: flex;
  align-items: center;
  justify-items: start;
}

.paddingLR {
  padding: 0 1rem;
}
