.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  background-color: #355990;
  border-top: 0.7rem solid #1e3b68;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.Header h1 {
  font-weight: 300;
  color: #fff;
  padding-bottom: 0.8rem;
  max-width: 700px;
  margin: 0 auto;
}

.inline {
  display: flex;
  align-items: center;
  justify-items: start;
}
