.Section {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  border: 0.05rem solid #d0d0d0;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0.5rem #d0d0d0;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.2rem;
  background-color: #fff;
}

.Section__heading {
  color: #355990;
  font-weight: 500;
  font-size: 1.2rem;
  border-bottom: 0.05rem solid #d0d0d0;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;
}
